extends layout

block content
  h1= title
  p Benvenuti in #[em Amministrazione]

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The library has the following record counts:

    ul
      li #[strong Società:] !{data.societa_count}
      li #[strong Diipendenti:] !{data.dipendenti_count}
      li #[strong Amministratori:] !{data.admin_count}

